@media (min-width: 768px) and (max-width: 1023px) {

    [aria-expanded="true"] ~ ul {
        z-index: 100;
    }

    #most-wanted {
        justify-content: center;
    }

    .case {
        width: 100%;
    }

    #pageTop {
        padding-right: 2.9rem;
    }
    #scrollUp {
        right: 0rem;
        top: var(--size-150);
    }
    .title h1 {
        transform: translateX(1rem);
        font-size: inherit;
    }
    .case-categories {
        transform: translate(6rem, -8.5rem);
        font-size: 1rem;
    }
    .top-buttons {
        width: fit-content;
        transform: translateX(8.5rem);
    }
    .navbar-toggler {
        transform: translate(2rem, -2.5rem);
        display: inline-block;
    }

    .my-class .case-info p {
        font-size: small;
    }
    #reward, 
    #warning, 
    #tip {
        font-size: var(--size-50);
    }
    .favsClose {
        padding: 1.5rem;
        font-size: var(--size-30);
    }
    
    .my-class {
        transform: translateY(-15rem);
        height: 100%;
        overflow-y: scroll;
    }

    .my-class h2 {
        transform: translateY(0rem);
        font-size: var(--size-40);
    }
    .my-class img {
        transform: translateY(0rem);
        max-width: 100%;

    }

    .my-class div .case-info {
        font-size: small;
        transform: translateY(-1rem);
    }
    #reward, 
    #warning, 
    #tip {
        font-size: var(--size-30);
        transform: translateY(-1rem);
    }

    [aria-expanded="true"] ~ ul {
        height: 50rem;
        font-size: var(--size-20);
        top: 7rem;
    }
}

@media (min-width: 360px) and (max-width: 767px) {

    [aria-expanded="false"] ~ ul {
        display: none;
    }
    [aria-expanded="true"] ~ ul {
        z-index: 100;
        font-size: var(--size-20);
        top: 5rem;
    }
    #most-wanted {
        display: flex;
        flex-direction: column;
        transform: translateX(0rem);
    }
    .case {
        width: 100%;
    }
    #pageTop {
        padding-right: 13.8rem;
    }
    
    .title h1 {
        transform: translateX(7rem);
        font-size: x-small;
    }
    
    .top-buttons {
        transform: translate(5rem, -2rem);
    }

    .title {
        width: auto;
    }

    .navbar-toggler {
        transform: translate(1rem, -2rem);
    }
    .case-categories {
        transform: translate(4.5rem, -10rem);
        font-size: 1rem;
    }
    .case {
        width: auto;
    }
    .my-class{
        z-index: 100;
        height: -webkit-fill-available;
    }
    .favsClose {
        padding: 0.5rem;
        font-size: var(--size-40);  
    }
    .close-fav {
        transform: translateY(-1rem);
    }
    .case .my-class h2 {
        transform: translateY(-2.5rem);
    }
    .my-class {
        position: inherit;
        padding-bottom: 13rem;
        margin-top: -5rem;
        transform: translateY(5rem);
        margin-bottom: 5rem;
    }
    .my-class img {
        z-index: 100;
    }
    .my-class .case-meta {
        display: none;
    }
    .my-class div .case-info {
        font-size: 1rem;
        transform: translateY(8rem);
    }
    .my-class .case-info p {
        font-size: 1rem;
    }
    #fav-Case,
    #Case-Collections,
    #refresh, 
    #sortCase {
        transform: translate(2rem, 2rem);
        font-size: 1rem;
    } 
    .info-btn {
        padding: 0.5rem;
        font-size: 1rem;
        transform: translateY(-1rem);
    
    }
    .case-meta {
        transform: translateY(-2rem);
        font-size: 1rem;
    }
    .case img {
        transform: translateY(-1.5rem);
        max-width: 95%;
    }
    .case h2 {    
        transform: translateY(-1rem);
        font-size: 2rem;
    }
    #reward, 
    #warning, 
    #tip {
        font-size: 1rem;
        transform: translateY(10rem);
    }
    #scrollUp {
        bottom: 0;
        display: none;
    }
}